/* -------   home   ------- */
section-3 {
	background-color: $gray-light;
	display: flex;
	display: -webkit-flex;
	padding-top: 45px;
	padding-bottom: 75px;  
}

.about-wrap {
	display: flex;
    flex-direction: column;
}

.about-title {
	padding-bottom: 62px;
	@extend h2;
}

.about-contant {
	display: flex;
	&__about-foto {
		max-width: 460px;
		height: 315px;
		position: relative;
		overflow: hidden;
		padding-left: 0;
    	padding-right: 0;
		img {
			position: absolute;
			right: 0px;
		}
	}
	&__about-text {
		display: flex;
		font-size: 16px;
		line-height: 1.5;
	    padding: 63px 0px 60px 90px;
	}
}

.scroll {
	height: 193px;
	overflow: auto;
    padding-right: 20px;
}

.scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $gray-light;
}

.scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0); 
    border-radius: 10px;
	border: none;    
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    background: rgba(251, 211, 65,0.6); 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(251, 211, 65,0.6); 
}

.about-scroll {
	position: relative;
}

.line-vertical {
	height: 193px;
    width: 1px;
    background-color: $gray-dark;
    position: absolute;
    right: 4px;
}

/* ------ media query ------ */
@include tablet {
	.about-title {
	    padding-bottom: 40px;
	}
	.about-contant {
		justify-content: space-between;
		&__about-foto {
			max-width: 41%;
			height: auto;
			img {
				position: absolute;
				right: 0px;
				max-width: 140%;
			}
		}
		&__about-text {
			font-size: 14px;
			line-height: 1.3;
		    padding: 0 0 0 30px;
	    	max-width: 54%;
		}
	}
	.scroll {
	    height: 147px;
	    padding-right: 15px;
	}
	.line-vertical {
	    height: 147px;
    }
	
}
@include tablet-mini {
	.about-title {
	    padding-bottom: 40px;
	}
	.about-contant {
		justify-content: space-between;
		&__about-foto {
			max-width: 41%;
			height: auto;
			img {
				position: absolute;
				right: 0px;
				max-width: 140%;
			}
		}
		&__about-text {
			font-size: 14px;
			line-height: 1.3;
		    padding: 0 0 0 30px;
	    	max-width: 54%;
		}
	}
	.scroll {
	    height: 147px;
	    padding-right: 15px;
	}
	.line-vertical {
	    height: 147px;
    }
}
@include phone {
	.about-title {
		text-align: center;
		font-size: 18px;
	    padding-bottom: 40px;
	}
	.about-contant {
		flex-direction: column;
    	align-items: center;
		&__about-foto {
			max-width: 95%;
			height: auto;
			img {
			    position: inherit;
			    max-width: 100%;
			}
		}
		&__about-text {
			font-size: 12px;
			line-height: 1.2;
		    padding: 25px 0 0 15px;
    		max-width: 100%;
		}
	}
	.scroll {
	    height: 141px;
	    padding-right: 15px;
	}
	.line-vertical {
	    height: 141px;
    }
}
@include iphone-X {
	.about-title {
		text-align: center;
		font-size: 18px;
	    padding-bottom: 40px;
	}
	.about-contant {
		flex-direction: column;
    	align-items: center;
		&__about-foto {
			max-width: 95%;
			height: auto;
			img {
			    position: inherit;
			    max-width: 100%;
			}
		}
		&__about-text {
			font-size: 12px;
			line-height: 1.2;
		    padding: 25px 0 0 15px;
    		max-width: 100%;
		}
	}
	.scroll {
	    height: 141px;
	    padding-right: 15px;
	}
	.line-vertical {
	    height: 141px;
    }
}
@include iphone-6-7-8 {
	.about-title {
		text-align: center;
		font-size: 18px;
	    padding-bottom: 40px;
	}
	.about-contant {
		flex-direction: column;
    	align-items: center;
		&__about-foto {
			max-width: 95%;
			height: auto;
			img {
			    position: inherit;
			    max-width: 100%;
			}
		}
		&__about-text {
			font-size: 12px;
			line-height: 1.2;
		    padding: 25px 0 0 15px;
    		max-width: 100%;
		}
	}
	.scroll {
	    height: 141px;
	    padding-right: 15px;
	}
	.line-vertical {
	    height: 141px;
    }
}	
@include iphone-5 {
	.about-title {
		text-align: center;
		font-size: 18px;
	    padding-bottom: 40px;
	}
	.about-contant {
		flex-direction: column;
    	align-items: center;
		&__about-foto {
			max-width: 95%;
			height: auto;
			img {
			    position: inherit;
			    max-width: 100%;
			}
		}
		&__about-text {
			font-size: 12px;
			line-height: 1.2;
		    padding: 25px 0 0 15px;
    		max-width: 100%;
		}
	}
	.scroll {
	    height: 141px;
	    padding-right: 15px;
	}
	.line-vertical {
	    height: 141px;
    }
}