$black: #000000;
$black-light: rgba(0, 0, 0, 0.6); //note form
$black-opacity: rgba(0, 0, 0, 0.0); //form
$white: #ffffff;
$white-opacity: rgba(255, 255, 255, 0.4);
$yellow: #fbd341; 
$blue: #22334d;
$blue-light: rgba(51, 151, 226, 0.8);  //box-shadow: -1.236px 3.804px 14.7px 0.3px rgba(0, 0, 0, 0.34);         
$blue-middle: rgba(15, 37, 71, 0.49);  //for title-background in header background-image: -ms-linear-gradient( -6deg, rgb(15,37,71) 0%, rgba(25,44,74,0.32) 68%, rgba(34,51,77,0) 100%);
$gray-light: #f8f7f7;
$gray: #3a3a3a;
$gray-middle: #898989;
$gray-dark: rgba(18, 18, 18, 0.102); // vertical line in about

