/* -------   note   ------- */
section-4 {
	background: url('../dist/images/note-img.png') no-repeat center center fixed;	
	display: flex;
	display: -webkit-flex; 
	background-size: 100%;
	padding: 45px 0; 
}


.note-wrap-title {
	@extend h2;
	padding-bottom: 32px;
	color: $white;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 0.4em;
    padding: 0px 2px 1px;
}

.note-form {
	background-color: $black-light;
	padding: 40px 30px;
}

.custom-select {
		font-size: 18px;
		color: $white;
}

form {
	
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    background-color: $black-opacity;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid $white-opacity;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    vertical-align: middle;
    background: url('../dist/images/arrow-white.png') no-repeat right center;
    background-color: $black-opacity;
    border: none;
    border-bottom: 1px solid $white-opacity;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* ------ media query ------ */
@include television {
	
}
@include desktop {
	
}
@include laptop {
	
}

/* ---- iPadPro ---- */
@include iPadPro {
	
}
@include iPadPro-portrait {
	
}
@include iPadPro-landscape {
		
}

/* ---- iPad ---- */
@include iPad {	
		
}
@include iPad-landscape {	
		
}
@include iPad-portrait {
		
}
@include tablet {
	
}
@include tablet-mini {
	
}
@include phone {

}
@include iphone-X {
	
}
@include iphone-X-portrait {
	
}
@include iphone-X-landscape {
	
}	
@include iphone-5 {
	
}