/* -------   note   ------- */
section-4 {
	background: url('../dist/images/note-img.png') no-repeat bottom center;	
	display: flex;
	display: -webkit-flex; 
	background-size: cover;
	padding: 45px 0; 
}


.note-wrap {
	&__title {
		@extend h2;
		padding-bottom: 32px;
		color: $white;
	}
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 0.4em;
    padding: 0px 2px 1px;
}

.note-form {
	background-color: $black-light;
	padding: 40px 30px;
}

.custom-select {
		font-size: 18px;
		color: $white;
}

form {
	
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    @extend input;
    background-color: $black-opacity;
    background-clip: padding-box;
    border: none;
    border-bottom: 1px solid $white-opacity;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control {
	@extend input::placeholder;
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: $white;
    vertical-align: middle;
    background: url('../dist/images/arrow-white.png') no-repeat right center;
    background-color: $black-opacity;
    border: none;
    border-bottom: 1px solid $white-opacity;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-primary {
	@extend button;
	font-size: 18px;
	color: $black;
}

/* ------ media query ------ */
@include television {
	
}
@include desktop {
	
}
@include laptop {
	
}

/* ---- iPadPro ---- */
@include iPadPro {
	
}
@include iPadPro-portrait {
	
}
@include iPadPro-landscape {
		
}

/* ---- iPad ---- */
@include iPad {	
		
}
@include iPad-landscape {	
		
}
@include iPad-portrait {
		
}
@include tablet {
	.note-wrap {
		text-align: center;
		&__title {
			padding-bottom: 32px;
		}
	}
	.note-form {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.form-row {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	form {
		display: flex;
	    width: 70%;
	}
	.btn-primary {
		width: 35%;
		margin-top: 24px;
	}	
}
@include tablet-mini {
	.note-wrap {
		text-align: center;
		&__title {
			padding-bottom: 32px;
		}
	}
	.note-form {
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.form-row {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	form {
		display: flex;
	    width: 70%;
	}
	.btn-primary {
		width: 75%;
		margin-top: 24px;
	}
}
@include phone {
	.note-wrap {
		text-align: center;
		&__title {
			font-size: 18px;
			padding-bottom: 32px;
		}
	}
	.note-form {
		margin: 0px 40px;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.form-row {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	form {
		display: flex;
	    width: 80%;
	}
	.btn-primary {
		width: 59%;
		font-size: 14px;
		margin-top: 24px;
	}	
}
@include iphone-X {
	.note-wrap {
		text-align: center;
		&__title {
			font-size: 18px;
			padding-bottom: 32px;
		}
	}
	.note-form {
		margin: 0px 40px;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.form-row {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	form {
		display: flex;
	    width: 95%;
	}
	.btn-primary {
		width: 59%;
		font-size: 14px;
		margin-top: 24px;
	}	
}
@include iphone-X-portrait {
	
}
@include iphone-X-landscape {
	
}
@include iphone-6-7-8 {
	.note-wrap {
		text-align: center;
		&__title {
			font-size: 18px;
			padding-bottom: 32px;
		}
	}
	.note-form {
		margin: 0px 40px;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.form-row {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	form {
		display: flex;
	    width: 95%;
	}
	.btn-primary {
		width: 59%;
		font-size: 14px;
		margin-top: 24px;
	}
}	
@include iphone-5 {
	.note-wrap {
		text-align: center;
		&__title {
			font-size: 14px;
			padding-bottom: 16px;
		}
	}
	.note-form {
		margin: 0px 30px;
		padding: 15px 15px;
		display: flex;
	    justify-content: center;
	    align-items: center;
	}
	.form-row {
		width: 100%;
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	form {
		display: flex;
	    width: 100%;
	}
	.form-control {
		font-size: 14px;
	}
	.btn-primary {
		width: 80%;
		font-size: 14px;
		margin-top: 24px;
	}	
}