body {
	font: {
		family: 'Arial', sans-serif;
		size: 16px;
		weight: $regular;
	}
	color: $black;
}



.container {
	padding-left: 0;
	padding-right: 0;
}

a {
	font: {
		family: 'Arial', sans-serif;
		size: 14px;
		weight: $regular;
	}	
	text-decoration: none;
	color: $white;
	&:hover {
		color: $white;		
	    text-decoration: none;
	    opacity: 0.5;
		transition: 1s; 
	}	
}

ul {
	list-style: none;
}

h1 {
	font: {
			family: 'Arial-bold', sans-serif;
			size: 30px;
			weight: $bold;
	}
	color: $white;
	line-height: 1;
    margin-bottom: 0;
}


h2 {
	font: {
		family: 'Arial-bold', sans-serif;
		size: 24px;
		weight: $bold;
	}
	text-transform: uppercase;
	color: $black;	
}

h3 {
	font: {
		family: 'Arial-bold', sans-serif;
		size: 20px;
		weight: $bold;
	}
	line-height: 1.5;
	color: $black;	
}

button {
	background-color: $yellow;
	border-width: 0;
	border-radius: 10px;
	padding: 10px 29px;
	&:hover {
		opacity: 0.9;
		transition: 1s;
	}
	a {
		@extend a;
		font-size: 18px;
		color: $black;	
		&:hover {
			color: $black;
		}	
    }
}






