body {
	width: 100%;
	overflow-x: hidden;
	font: {
		family: 'Arial', sans-serif;
		size: 16px;
		weight: $regular;
	}
	color: $black;
}

.row {
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
    margin-left: 0;
}

.container {
	padding-left: 0;
	padding-right: 0;
}

a {
	font: {
		family: 'Arial', sans-serif;
		size: 14px;
		weight: $regular;
	}	
	text-decoration: none;
	color: $white;
	&:hover {
		color: $white;		
	    text-decoration: none;
	    opacity: 0.5;
		transition: 1s; 
	}	
}

ul {
	list-style: none;
}

h1 {
	font: {
			family: 'Arial-bold', sans-serif;
			size: 30px;
			weight: $bold;
	}
	color: $white;
	line-height: 1;
    margin-bottom: 0;
}


h2 {
	font: {
		family: 'Arial-bold', sans-serif;
		size: 24px;
		weight: $bold;
	}
	text-transform: uppercase;
	color: $black;	
}

h3 {
	font: {
		family: 'Arial-bold', sans-serif;
		size: 20px;
		weight: $bold;
	}
	line-height: 1.5;
	color: $black;	
}

button {
	background-color: $yellow;
	border-width: 0;
	border-radius: 10px;
	padding: 10px 29px;
	&:hover {
		opacity: 0.9;
		transition: 1s;
	}
	a {
		@extend a;
		font-size: 18px;
		color: $black;	
		&:hover {
			color: $black;
		}	
    }
}

input {
	caret-color: $black;
	color: $white;	
}
input::placeholder {
		color: $white;
	}

.menu-gorizontal {
	width: 100%;
    margin: 0;
    padding-left: 0;
	ul {
		display: flex;		
	    justify-content: space-around;
	    align-items: center;
	    margin-bottom: 0;
    	li {    		
    		display: flex;
    		position: relative;
    	}
	}
}

.menu-vertical {
	&__menu-vertical-wrap {
		padding-left: 0;
		li {
			padding: 0 0 10px 0;
			a {
				@extend a;
				font-size: 14px;
				color: $white;
				padding: 0;
			}
		}	
	}
}




@mixin television {
  @media (min-width: 1366px) and (max-width: 1439.98px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) and (max-width: 1365.98px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}
/* ---- iPadPro ---- */
@mixin iPadPro {
	@media only screen 
	and (min-width: 1024px) and (max-width: 1366px) {
    @content;
    }
}

@mixin iPadPro-portrait {
    @media only screen 
    and (min-device-width: 1024px) 
    and (max-device-height: 1366px) 
    and (-webkit-min-device-pixel-ratio: 2)  
    and (orientation: portrait) {
    	@content;
	}
}
@mixin iPadPro-landscape {
  	@media only screen 
  	and (min-device-width: 1366px) 
  	and (max-device-height: 1024px) 
  	and (-webkit-min-device-pixel-ratio: 2)  
  	and (orientation: landscape) {
    	@content;
  	}
}
/* ---- iPad ---- */
@mixin iPad {
	@media only screen 
	and (min-width: 768px) and (max-width: 1024px) {
	    @content;
    }
} 

@mixin iPad-portrait {
	@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait)
	and (-webkit-min-device-pixel-ratio: 2) {
    	@content;
	}
}
@mixin iPad-landscape {
    @media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape)
	and (-webkit-min-device-pixel-ratio: 2) {
	    @content;
	}
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}  
@mixin tablet-mini {
  @media (min-width: 576px) and (max-width: 767.98px) {
    @content;
  }
}
@mixin phone {
  @media (min-width: 376px) and (max-width: 575.98px) {
    @content;
  }
}
@mixin iphone-X {
  @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
    @content;
  }
}
@mixin iphone-X-portrait {
  @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) {
    @content;
  }
}
@mixin iphone-X-landscape {
  @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : landscape) {
    @content;
  }
}
@mixin iphone-6-7-8 {
    @media only screen 
	and (min-device-width : 375px) 
	and (max-device-width : 667px) {
		@content;
	}
}
@mixin iphone-5 {
    @media (min-width: 320px) and (max-width: 374.98px) {
        @content;
    }
}




